html {
    scroll-behavior: smooth;
}

body {
    padding-top: 55px;
}


/* Nav Style */
.container .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
.container .navbar-brand:hover {
    color: #222;
}
.container .navbar-brand img {
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    width: auto;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar {
    background-color: white;
}

.main h2::before { 
    display: block; 
    content: " "; 
    margin-top: -55px;
    height: 55px;
    visibility: hidden; 
    pointer-events: none;
}
.main h2 {
    line-height: 1.45;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  .main p {
    line-height: 1.9;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
  }


#section1 {
    height: 550px;
}

#section2 {
    height: 1750px;
}

#section3 {
    height: 650px;
}

#section4 {
    height: 2150px;
}

.list-group-item h3 {
    display:inline;
}